@media only screen and (max-width: 787px) {
  .header {
    position: relative;
    width: 100%;
    background-color: #593624;

    color: #fff;
    height: 60px;
    z-index: 9900;
  }

  nav {
    visibility: hidden;
  }

  .header img {
    margin: 10px auto 0 auto;
  }
}
