/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 20px;
}

.btn-claro {
  border: 3px solid #fff;
  padding: 10px 40px;
  color: #fff;
  font-size: 18px;
}

.btn-claro:hover {
  border: 3px solid #f2cdb6;
  color: #f2cdb6;
}
.btn-dark {
  border: 3px solid#7A533F;
  padding: 10px 40px;
  color: #593624;
  font-size: 18px;
}

.btn-dark:hover {
  border: 3px solid#957A69;
  color: #957a69;
}

.subtitulo-claro {
  margin: 60px 0 50px 0;
  font-size: 36px;
  color: #fff;
  text-align: center;
}
.subtitulo-claro::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #fff;
  margin: 15px auto;
}
.subtitulo-dark {
  margin: 60px 0 50px 0;
  font-size: 36px;
  color: #593624;
  text-align: center;
}
.subtitulo-dark::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #7a533f;
  margin: 15px auto;
}

.dark {
  margin-top: 60px;
  background-color: #7a533f;
}
/* Header */

.header {
  width: 100%;
  background-color: #593624;
  color: #fff;
  height: 60px;
  display: block;
  position: sticky;
  top: 0;
  z-index: 9900;
}
.head_menu {
  text-align: right;
  display: block;
  margin-top: 20px;
}

.head_menu ul li {
  display: inline-block;
}
.head_menu ul li a {
  color: #fff;
  padding: 20px 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-left: 10px;
  font-size: 14px;
}
.head_menu ul li a:hover {
  text-decoration: none;
  border-bottom: 3px solid currentColor; 
  background-color: #7A533F;  
  color: #f2cdb6;
}

.header img {
  margin-top: 10px;
}
img {
  display: block;
  max-width: 100%;
}
.introducao {
  width: 100%;
  height: 534px;
  background: url("../img/jpg/bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 115px;
  text-align: center;
  color: #fff;
}
.introducao h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 150px;
}
.quote-externo p {
  font-style: italic;
}
.quote-externo p::before {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #fff;
  margin: 15px auto;
}
.quote-externo p::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #fff;
  margin: 15px auto;
}
.quote-externo cite {
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
}

/* Cardápio */

.cardapio-lista li {
  background-color: #7a533f;
  height: 400px;
  margin-bottom: 20px;
}

.cardapio-lista h3 {
  padding: 20px 0 0 0;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.cardapio-lista h4 {
  padding: 20px !important;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.cardapio-lista h3::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #fff;
  margin: 10px auto;
}
.call-pedido {
  padding-top: 30px;
  clear: both;
  text-align: center;
}
.call-pedido h4 {
  margin: 0 0 35px 0;
  color: #593624;
}

/* Opiniao dos clientes */

.call-opniao {
  padding: 40px 0 40px 0;
  text-align: center;
  color: #fff;
  clear: both;
}

.opiniao h4 {
  margin: 0 0 35px 0;
}

.pre-footer {
  width: 100%;
  height: 400px;
  background: url("../img/jpg/bgfooter.jpg") no-repeat center;
  background-size: cover;
  padding-top: 115px;
  text-align: center;
  color: #fff;
}
#pedido li {
  background-color: #7a533f;
}

#pedido h3 {
  padding: 20px 0 40px 0;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0 0 20px 0;
}

#pedido h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #fff;
  margin: 6px auto;
}

footer {
  background-color: #7a533f;
  color: #fff;
}
footer .container {
  padding: 30px 0 30px;
}
footer h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: left;
}

footer h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0 8px 0;
}
footer .fim {
  background-color: #593624;
  color: #fff;
  text-align: center;
  padding: 20px 0 20px;
}
footer .logo {
  display: inline;
  margin: 5px 10px 0 0;
}
.form {
  padding: 0 50px 60px;
}
.form label {
  display: block;
  padding: 5px 0 5px 0;
  color: #fff;
}
.form input,
textarea {
  display: block;
  padding: 5px 5px;
  margin-bottom: 8px;
  color: #fff;
  width: 100%;
  border-width: 3px;
  border-color: #fff;
  border-style: solid;
  outline: none;
  background: none;
}
textarea {
  height: 120px;
}

.form button {
  padding: 7px 40px;
  margin-top: 15px;
  background: none;
}
.contato {
  color: #fff;
  line-height: 25px;
  padding-bottom: 40px;
}
.contato h3 {
  text-transform: uppercase;
  margin: 15px 0 10px;

  color: #fff;
  text-align: left;
}

.contato h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0 8px 0;
}
.contato img {
  display: inline;
  margin: 5px 10px 0 0;
}

/* Javascript */

[data-slide] {
  position: relative;
}
[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
[data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

[data-slide-nav] {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
[data-slide-nav] > button {
  display: inline-block;
  width: 12px;
  margin: 10px 4px;
  height: 12px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  background: #957a69;
  text-indent: -100px;
  overflow: hidden;
  outline: none;
}
[data-slide-nav] > button.active {
  background: #593624;
}

[data-anime] {
  opacity: 0;
}

.fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}
